body {
    font-family: sans-serif;
    background-image: url('./img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nav {
    padding: 2%;
    cursor: pointer;
    color: #eee;
  }
  .logo {
    font-size: 1.5em;
    display: inline;
    font-weight: bold;
  }
  .nav ul {
    list-style: none;
    float: right;
    font-size: 0.8em;
    margin: 0;
    text-transform: uppercase;
    margin-top: 5px;
  }
  .nav ul li {
    display: inline;
    padding: 0 30px;
    letter-spacing: 1px;
  }
  
  .hero {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 100px 0;
    flex-wrap: wrap;
  }

  .title {
    font-size: 3em;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    width: 100%;
    color: #eee;
    font-weight: bold;
  }
  
  


  .button  {
    background:  transparent;
    padding: 10px 10px;
    border-radius: 25px;
    height:  38px;
    line-height:  40px;
    border:  3px solid white;
    display:  inline-block;
    float:  none;
    text-align:  center;
    width:  200px;
    font-size:  25px;
    color:  #fff;
    cursor: pointer;
    margin-top: 5%;
}

  .button:hover  {
    color:  #fff;
    background:  rgba(255, 255, 255, 0.2);
}
  
  
